<!--<section>
  <div class="cartpage">
    <h1 class="order">Order Summary</h1>
    <div class="cartpage2">
      <table>
        <tr>
          <th>ID.no</th>
          <th>Product name</th>
          <th>Quantity</th>
          
          <th>Remove</th>
          <th>Total Price</th>
        </tr>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.id }}</td> 
          <td>{{ item.productname }}</td>
          <td>
            <button (click)="decreaseQuantity(item)">-</button>
            {{ item.quantity }}
            <button (click)="increaseQuantity(item)">+</button>
          </td>
          <td>{{ item.price * item.quantity }}</td>
          <td><button (click)="removeFromCart(item)">Delete</button></td>
          <td>{{ getTotalPrice() }}</td>
        </tr>

      
      </table>
    </div>
  </div>
</section>-->
<section>
  <div class="cartpage">
    <h1 class="order">Order Summary</h1>
    <div class="cartpage2">
      <table>
        <thead>
          <tr>
            <th>ID.no</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Remove</th>
          </tr>
        </thead>
        
          <tr *ngFor="let item of cartItems">
            <td>{{ item.id }}</td>
            <td>{{ item.productname }}</td>
            <td>
              <button (click)="decreaseQuantity(item)">-</button>
              {{ item.quantity }}
              <button (click)="increaseQuantity(item)">+</button>
            </td>
            <td>{{ item.price * item.quantity }}</td>
            <td><button (click)="removeFromCart(item)">Delete</button></td>
          </tr>
       
       
      </table>
    </div>
  </div>
</section>

