.product {
  background-color: #f0f0f0;
  padding: 20px;
}


.one {
  width: 350px; 
  height: 250px; 
  padding-top: 25px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size:medium;
  color:blueviolet;
  margin: 20px auto;
  margin-bottom: 20px;
  font-weight:bold;
  box-shadow: 0 4px 8px rgba(89, 87, 87, 0.2);
}


.one span {
  font-weight: bold;
}